@import "node_modules/ionic-angular/globals.ios.scss";
@import "node_modules/ionic-angular/components/button/button.scss";

// iOS Button
// --------------------------------------------------

$button-ios-margin:                   .4rem .2rem !default;
$button-ios-padding:                  0 1em !default;
$button-ios-font-size:                1.6rem !default;
$button-ios-height:                   2.8em !default;
$button-ios-color:                    color($colors-ios, primary) !default;
$button-ios-color-activated:          color-shade($button-ios-color) !default;
$button-ios-text-color:               color-contrast($colors-ios, $button-ios-color) !default;
$button-ios-hover-opacity:            .8 !default;
$button-ios-border-radius:            4px !default;

$button-ios-large-font-size:          2rem !default;
$button-ios-large-height:             2.8em !default;
$button-ios-large-padding:            1em !default;
$button-ios-small-font-size:          1.3rem !default;
$button-ios-small-height:             2.1em !default;
$button-ios-small-padding:            .9em !default;
$button-ios-small-icon-font-size:     1.3em !default;


// iOS Default Button
// --------------------------------------------------

.button {
  background-color: transparent;
  border-bottom: 4px solid;

  &:hover:not(.disable-hover) {
    text-decoration: none;
    opacity: $button-ios-hover-opacity;
  }

  &.activated {
    background-color: $button-ios-color-activated;
    opacity: 1;
  }
}

.button[clean] {
  border-bottom-width: 0;
  &.activated {
    background-color: transparent;
    opacity: 1;
  }
}


// iOS Default Button Color Mixin
// --------------------------------------------------

@mixin ios-button-default($color-name, $color-base, $color-contrast) {

  .button-#{$color-name} {
    $background-color: $color-base;
    $background-color-activated: color-shade($background-color);
    $fg-color: $color-contrast;

    color: $fg-color;
    background-color: transparent;
    border-bottom-color: $background-color;

    &[badge]{
      border-bottom-width: 0;
      background-color: $background-color;
      border-radius: 50%;
      padding: 0;
      width: 3rem;
      height: 3rem;

      &.activated {
        opacity: 0.5;
      }

      &.button-icon-only ion-icon{
          padding: 0;
      }

      &[large]{
          width: 4rem;
          height: 4rem;
      }
    }

    &.activated {
      border-bottom-color: $background-color-activated;
      background-color: transparent;
    }
  }

}

// Generate iOS Button Colors
// --------------------------------------------------

@each $color-name, $color-base, $color-contrast in get-colors($colors-ios) {
  @include ios-button-default($color-name, $color-base, $color-contrast);
}

// Core Button Overrides
// --------------------------------------------------

@import "node_modules/ionic-angular/components/button/button-fab.scss";
@import "node_modules/ionic-angular/components/button/button-icon.scss";
