// iOS List
// --------------------------------------------------

&.hairlines {

  ion-list-header {
    border-bottom-width: $hairlines-width;
  }

  ion-list {

    ion-item-options {
      border-width: $hairlines-width;
    }

    .item {
      .item-inner {
        border-width: $hairlines-width-lg;
      }
    }

    > .item:first-child {
      border-top-width: 0;
    }

    > .item:last-child,
    > ion-item-sliding:last-child .item {
      border-bottom-width: 0;
    }
  }
}