<ion-header-bar>
    <h1 class="title">Settings</h1>
</ion-header-bar>
<ion-content padding>
    <div class="list">
        <div class="item item-divider">
        Ignore List
        </div>
        <div class="item item-button-right" *ngFor="#ignoredAlbum of ignoredAlbumList">
            {{ignoredAlbum.title}} - {{ignoredAlbum.artist}}
            <button (click)="deleteIgnoreListItem(ignoredAlbum.id)">
                delete
            </button>
        </div>

        <div class="item item-divider">
        Settings
        </div>
        <ion-item *ngFor="#preference of preferences">
            <ion-label>{{preference.text}}</ion-label>
            <ion-toggle [ngModel]="preference.checked" (ngModelChange)="preferenceChanged($event, preference.text)"></ion-toggle>
        </ion-item>
    </div>
</ion-content>
<ion-toolbar position="bottom">
    <ion-buttons >
        <button (click)="close()">
            Close
        </button>
    </ion-buttons>
</ion-toolbar>

