.badge{
	padding: 2px;
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 16px;
    font-size: 12px;
    text-align: center;
	@each $color-name, $color-base, $color-contrast in get-colors($colors) {
	    &[#{$color-name}] {
	      color: $color-contrast !important;
	      background-color: $color-base !important;
	    }
	}
}