.stripeList{
	&-item{
		&:nth-child(1n){
			.item-inner{
				border-color: map-get($primaryColors, base)				
			}
		}

		&:nth-child(2n){
			.item-inner{
				border-color: map-get($secondaryColors, base);
			}
		}

		&:nth-child(3n){
			.item-inner{
				border-color: map-get($tertiaryColors, base);
			}
		}		
	}
}
