<ion-toolbar>
    <ion-buttons left>
        <button (click)="close()">
            <ion-icon name="ios-close" item-left></ion-icon>
        </button>
    </ion-buttons>
</ion-toolbar>
<ion-content padding>
    <h1 primary>{{album.artist}} - {{album.albumTitle}}</h1>
    <ion-list>
        <ion-item *ngFor="#track of album.tracks">
            {{track.title}}&nbsp;
            <ion-icon name="ios-star" *ngFor="#star of getStars(track.rating)"></ion-icon>&nbsp;
            {{track.playCount}}
<!--
            Score: {{track.score.bayesianEstimate}}
-->
        </ion-item>
    </ion-list>
</ion-content>
