<ion-toolbar>
    <ion-buttons left>
        <button (click)="close()">
            <ion-icon name="ios-close" item-left></ion-icon>
        </button>
    </ion-buttons>
</ion-toolbar>
<ion-content padding text-uppercase *ngIf="album" class="l-albumInfo">
    <h1 primary-dark text-center padding>{{album.artist}} {{album.albumTitle}}</h1>
    <ion-list no-lines>
        <ion-item *ngFor="#track of album.tracks | withRating: showCompleteAlbum" >
            <h2 text-center>{{track.title}} <span *ngIf="showPlayCount" class="badge" primary>{{track.playCount}}</span></h2>
            <div text-center>
                <ion-icon *ngIf="showRating" name="ios-star" *ngFor="#star of getStars(track.rating)" tertiary></ion-icon>                    
            </div>
        </ion-item>
    </ion-list>
</ion-content>
