.l-result {
  &-loader{
    display: flex;
    flex-flow: column;
    height: 100%;
    
    &-top{
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-bottom{
      flex: inherit;
      height: 100px
    }
  }

  &-album{
    display: flex;
    flex-flow: column;
    height: 100%;
    
    &-info{
      flex: 1;
    }

    &-cover{
      margin-bottom: 20px;
    }

    &-title{
      max-height: 105px;
      overflow: auto
    }

    &-btns{
      flex: inherit;
      text-align: center;
    }
  }
}
