<ion-toolbar>
    <ion-buttons left>
        <button (click)="close()">
            <ion-icon name="ios-close" item-left></ion-icon>
        </button>
    </ion-buttons>
</ion-toolbar>
<ion-content padding>
    <div *ngIf="ignoredAlbumList.length === 0" text-center class="l-box">
        <h2 class="paddedTitle" primary>
            No ignored albums added. <br>
            Add albums by tapping
        </h2>
        <h2><ion-icon tertiary name="ios-checkmark-circle"></ion-icon></h2>
        <h2 class="paddedTitle" primary>
            underneath the album cover.
        </h2>
    </div>

    <div *ngIf="ignoredAlbumList.length > 0">
        <div text-center>
            <h2 class="paddedTitle" primary>Ignored Albums</h2>            
        </div>
        <ion-list>
            <ion-item *ngFor="#ignoredAlbum of ignoredAlbumList" (click)="deleteIgnoreListItem(ignoredAlbum)" class="stripeList-item" padding>
                {{ignoredAlbum.albumTitle | handleEmptyString}} - {{ignoredAlbum.artist | handleEmptyString: 'Artist'}}
                <ion-icon name="ios-close-outline" item-right tertiary class="stripeList-icon"></ion-icon>
            </ion-item>
        </ion-list>    
    </div>    
</ion-content>
