// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
        primary:    (
                base: rgb(199, 228, 218),
                contrast: #222
        ),
        primary-dark:    (
                base: rgb(199, 228, 218),
                contrast: #222
        ),
        secondary:  (
                base: rgb(213, 236, 235),
                contrast: #222
        ),
        tertiary:  (
                base: rgb(247, 229, 199),
                contrast: #222
        ),
        danger:     #f53d3d,
        light:      rgb(255, 254, 250),
        dark:       #222,
        favorite:   #69BB7B
);

$primaryColors:	        map-get($colors, primary);
$secondaryColors:	    map-get($colors, secondary);
$tertiaryColors:	    map-get($colors, tertiary);

$background-color:      rgb(255, 254, 250);

$toolbar-background:    map-get($colors, light);

$hairlines-width-lg:    3px;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$toast-ios-background:  map-get($tertiaryColors, base);
$toast-ios-title-color:  map-get($colors, dark);
$toast-ios-border-radius: 0;

$navbar-ios-height:	    26px;

$searchbar-ios-background-color: transparent;


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
