.loader{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: repeating-radial-gradient(circle, map-get($colors, light), map-get($colors, light) 1px, map-get($colors, tertiary) 1px, map-get($colors, tertiary) 5px);
}