<ion-header>
    <ion-toolbar>
        <ion-title>
            {{title | copy}}
        </ion-title>
        <ion-buttons start>
            <button (click)="close()" ion-button icon-only clear round>
                <ion-icon ion-text color="dark" name="ios-close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<!--https://github.com/driftyco/ionic/issues/8933-->
<ion-content padding (click)="{}">

    <div *ngIf="albumList.length === 0" text-center class="l-box">
        <h2 class="paddedTitle" primary>
            {{'list_noAlbumTop1' | copy}} <br>
            {{'list_noAlbumTop2' | copy}}
        </h2>
        <h2><ion-icon dark name="list-box"></ion-icon></h2>
        <h2 class="paddedTitle primary">
            {{'list_noAlbumBottom' | copy}}
        </h2>
    </div>

    <div *ngIf="albumList.length > 0">
        <ion-searchbar [(ngModel)]="filterTerm" placeholder="{{'list_filter' | copy}}"></ion-searchbar>
        <ion-list>

            <ion-item-sliding *ngFor="let album of albumList | filter : filterTerm | sortBy : 'artist' " class="stripeList-item">
                <ion-item>
                    <h2>{{album.artist | handleEmptyString: 'Artist'}}</h2>
                    <h3>{{album.albumTitle | handleEmptyString}}</h3>

                </ion-item>
                <ion-item-options side="right">
                    <button ion-button color="danger">
                        <ion-icon name="ios-close-circle-outline" item-right light (click)="deleteListItem(album)"></ion-icon>
                        Remove
                    </button>
                    <button ion-button color="primary">
                        <ion-icon name="ios-close-circle-outline" item-right light (click)="moveListItem(album)"></ion-icon>
                        Move
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </div>    
</ion-content>
